.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 0 5rem 0;
}

.detail-card {
    display: flex;
}

.detail-img {
    height: 100%;
    background-color: red;

    img {
        height: 100%;
    }
}

%glass-board-common-style {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: saturate(200%) blur(30px);
    box-shadow: 1px;
    height: 40rem;
    min-height: 22rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 2rem;
    position: relative;
    z-index: 1;
    overflow: visible;
    transition: 0.6s;
}

.book-detail-left {
    @extend %glass-board-common-style;
    width: fit-content;
    align-items: center;
}

.book-detail-right {
    @extend %glass-board-common-style;
    width: 50rem;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.61);

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    a {
        text-decoration: none;
    }

    .book-detail-desc {
        max-height: 10rem;
        overflow-y: scroll;
    }

}