.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    padding: 0 0 5rem 0;
}

.action-container {
    display: flex;
    width: 5rem;
    justify-content: space-evenly;
}

.detail-icon {
    display: flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 10px;
}

.book-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 0 0 0;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: saturate(200%) blur(30px);
    box-shadow: 1px;
    width: 16rem;
    height: 26rem;
    min-height: 22rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 2rem;
    position: relative;
    z-index: 1;
    overflow: visible;
    transition: 0.6s;
}

.book:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.7);
}

.e-book {
    position: absolute;
    background-color: rgb(112, 110, 213);
    color: white;
    right: -0.5rem;
    font-size: 0.8rem;
    z-index: 999;
}

.bi {
    cursor: pointer;
    transition: 0.9s;
}

.bi:hover {
    transform: scale(110%);
}

.bi-heart-fill {
    color: rgb(208, 109, 109);
}

.description {
    font-size: 0.8rem;
    overflow-y: hidden;
    max-height: 5rem;
}