%row-common-styles {
    display: flex;
    flex-direction: row;
}

%round-common-styles {
    height: 3rem;
    border-radius: 3rem;
    border: 1px solid snow;
    transition: 0.5s;
    min-width: fit-content;
    padding: 0 1rem 0 1rem;

    &:hover {
        transform: scale(1.01);
        cursor: pointer;
        border-color: rgba(148, 187, 233, 1);
    }

    &:focus {
        outline: none !important;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.5);
    }
}

nav {
    @extend %row-common-styles;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.659);
    backdrop-filter: saturate(200%) blur(30px);
    padding: 2rem 6rem 2rem 6rem;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.105);
    height: 6rem;
}

nav a {
    font-weight: bold;
    color: #ffffff;
}

nav a.router-link-exact-active {
    color: #575cbf;
}

.find-a-book {
    @extend %row-common-styles;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.5s;
}

.find-a-book:hover {
    scale: (103%);
}


.drop-down {
    @extend %round-common-styles;
    background-color: white;
    cursor: pointer;
}


.search-and-filter-container {
    @extend %row-common-styles;
    width: 50rem;
    justify-content: space-evenly;
}

.search-input {
    width: 20rem;
    @extend %round-common-styles;
}

.icon-right {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-container {
    position: relative;
}


.search-button {
    @extend %round-common-styles;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.logo-container {
    @extend %row-common-styles;
}

.magnify-glass {
    width: 3.5rem;
    margin: 0 1rem 0 0;
    transition: 0.5s;
    animation: drop 2s ease 1.8s 1 normal backwards;
}



.magnify-glass:hover {
    scale: 110%;
    cursor: help;
}


.f {
    animation: drop 2s ease 0s 1 normal backwards;
}

.i {
    animation: drop 2s ease-in-out 0.2s 1 normal backwards;
}

.n {
    animation: drop 2s ease-in-out 0.4s 1 normal backwards;
}

.d {
    animation: drop 2s ease-out 0.6s 1 normal backwards;
}

.a {
    animation: drop 2s linear 0.8s 1 normal backwards;
}

.b {
    animation: drop 1.5s linear 1s 1 normal backwards;
}

.o1 {
    animation: drop 1.5s linear 1.2s 1 normal backwards;
}

.o2 {
    animation: drop 1.5s linear 1.4s 1 normal backwards;
}

.k {
    animation: drop 1.5s linear 1.6s 1 normal backwards;
}

@keyframes drop {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-13rem);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65%,
    82%,
    93% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes jello {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}