/*!
  * @preserve
  * MonoLisa 2.008
  * Release date: 2023-05-14
  * This font is subject to a EULA. A user-licence can be acquired at:
  *   https://monolisa.dev
  * Â© 2023 FaceType Foundry. All Rights Reserved.
  */
@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMDAyMC0wMDdGLCBVKzAzMDAtMDM2RiwgVSsyMEEwLTIwQ0YsIFUrMDBERiwgVSswMEQ4IiwidmVyc2lvbiI6IjIuMDA4In0%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    unicode-range: U+0020-007F, U+0300-036F, U+20A0-20CF, U+00DF, U+00D8;
}

@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMDAyMC0wMDdGLCBVKzAzMDAtMDM2RiwgVSsyMEEwLTIwQ0YsIFUrMDBERiwgVSswMEQ4IiwidmVyc2lvbiI6IjIuMDA4In0%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    unicode-range: U+0020-007F, U+0300-036F, U+20A0-20CF, U+00DF, U+00D8;
}

@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMDQwMC0wNEZGIiwidmVyc2lvbiI6IjIuMDA4In0%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    unicode-range: U+0400-04FF;
}

@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMDQwMC0wNEZGIiwidmVyc2lvbiI6IjIuMDA4In0%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    unicode-range: U+0400-04FF;
}

@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMDM3MC0wM0ZGIiwidmVyc2lvbiI6IjIuMDA4In0%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    unicode-range: U+0370-03FF;
}

@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMDM3MC0wM0ZGIiwidmVyc2lvbiI6IjIuMDA4In0%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    unicode-range: U+0370-03FF;
}

@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Im5vcm1hbCIsInVuaWNvZGVSYW5nZSI6IlUrMjM4NywgVSsyMzhCLCBVKzIzMjcsIFUrMjMyQiwgVSsyMzI2LCBVKzIzQ0YsIFUrMjMyOCwgVSsyMzI1LCBVKzIzMTgsIFUrMjNDRSwgVSsyM0ZCLCBVKzIzRkMsIFUrMjNGRCwgVSsyM0ZFLCBVKzIyMTIsIFUrMjI2MCwgVSsyMjY1LCBVKzIyNjQsIFUrMjI0OCwgVSsyMjA1LCBVKzIyMUUsIFUrMjIyQiwgVSsyMjBGLCBVKzIyMTEsIFUrMjIxQSwgVSsyMjAyLCBVK0UwQTAsIFUrRTBBMSwgVStFMEEyLCBVK0UwQjAsIFUrRTBCMSwgVStFMEIyLCBVK0UwQjMsIFUrRUUwMCwgVStFRTAxLCBVK0VFMDIsIFUrRUUwMywgVStFRTA0LCBVK0VFMDUsIFUrRUUxMCwgVStFRTExLCBVK0VFMTIsIFUrRUUxMywgVStFRTE0LCBVK0VFMTUiLCJ2ZXJzaW9uIjoiMi4wMDgifQ%3D%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
    unicode-range: U+2387, U+238B, U+2327, U+232B, U+2326, U+23CF, U+2328, U+2325, U+2318, U+23CE, U+23FB, U+23FC, U+23FD, U+23FE, U+2212, U+2260, U+2265, U+2264, U+2248, U+2205, U+221E, U+222B, U+220F, U+2211, U+221A, U+2202, U+E0A0, U+E0A1, U+E0A2, U+E0B0, U+E0B1, U+E0B2, U+E0B3, U+EE00, U+EE01, U+EE02, U+EE03, U+EE04, U+EE05, U+EE10, U+EE11, U+EE12, U+EE13, U+EE14, U+EE15;
}

@font-face {
    src: url(https://api.monolisa.dev/api/woff?eyJpbmNsdWRlIjpbIm9udW0iLCJmcmFjIiwic3VwcyIsInN1YnMiLCJjYWx0IiwibGlnYSIsInplcm8iLCJzczAxIiwic3MwMiIsInNzMDMiLCJzczA0Iiwic3MwNSIsInNzMDYiLCJzczA3Iiwic3MwOCIsInNzMDkiLCJzczEwIiwic3MxMSIsInNzMTIiLCJzdXBzIiwic3VicyIsIm9udW0iLCJmcmFjIl0sImV4Y2x1ZGUiOltdLCJzdHlsZSI6Iml0YWxpYyIsInVuaWNvZGVSYW5nZSI6IlUrMjM4NywgVSsyMzhCLCBVKzIzMjcsIFUrMjMyQiwgVSsyMzI2LCBVKzIzQ0YsIFUrMjMyOCwgVSsyMzI1LCBVKzIzMTgsIFUrMjNDRSwgVSsyM0ZCLCBVKzIzRkMsIFUrMjNGRCwgVSsyM0ZFLCBVKzIyMTIsIFUrMjI2MCwgVSsyMjY1LCBVKzIyNjQsIFUrMjI0OCwgVSsyMjA1LCBVKzIyMUUsIFUrMjIyQiwgVSsyMjBGLCBVKzIyMTEsIFUrMjIxQSwgVSsyMjAyLCBVK0UwQTAsIFUrRTBBMSwgVStFMEEyLCBVK0UwQjAsIFUrRTBCMSwgVStFMEIyLCBVK0UwQjMsIFUrRUUwMCwgVStFRTAxLCBVK0VFMDIsIFUrRUUwMywgVStFRTA0LCBVK0VFMDUsIFUrRUUxMCwgVStFRTExLCBVK0VFMTIsIFUrRUUxMywgVStFRTE0LCBVK0VFMTUiLCJ2ZXJzaW9uIjoiMi4wMDgifQ%3D%3D) format("woff");
    font-family: ml;
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
    unicode-range: U+2387, U+238B, U+2327, U+232B, U+2326, U+23CF, U+2328, U+2325, U+2318, U+23CE, U+23FB, U+23FC, U+23FD, U+23FE, U+2212, U+2260, U+2265, U+2264, U+2248, U+2205, U+221E, U+222B, U+220F, U+2211, U+221A, U+2202, U+E0A0, U+E0A1, U+E0A2, U+E0B0, U+E0B1, U+E0B2, U+E0B3, U+EE00, U+EE01, U+EE02, U+EE03, U+EE04, U+EE05, U+EE10, U+EE11, U+EE12, U+EE13, U+EE14, U+EE15;
}